{% extends 'base.html' %}
{% block content %}
<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'siedlung_home' %}">Home</a></li>
        <li><a href="{% url 'siedlung_detail' siedlung.pk %}" aria-current="page">Siedlung {{ siedlung.internal_id }}</a></li>
        <li><a href="{% url 'objekt_detail' siedlung.pk objekt.pk %}" aria-current="page">Objekt {{ objekt.internal_oid }}</a></li>
        <li class="is-active"><a href="{% url 'objekt_update' siedlung.pk objekt.pk %}" aria-current="page">aktualisieren</a></li>
    </ul>
</nav>
<section class="hero is-link">
    <div class="hero-body has-text-centered">
        <p class="title has-text-white">Objekt {{ objekt.internal_oid }}</p>
        <p class="subtitle has-text-white">{{ objekt.bezeichnung }}</p>
        <span class="tag is-warning">aktualisieren</span>
  </div>
</section>
<section class="section">
    <div class="container">
        <div class="card">
            <header class="card-header">
                    <p class="card-header-title has-text-link-bold">Objektdaten</p>
            </header>
            <form action="" method="post">
                {% csrf_token %}
                <div class="card-content">
                    {% for field in form %}
                    <div class="field">
                        <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="control">
                            {{ field }}
                        </div>
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text }}</p>
                        {% endif %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="help is-danger is-size-6">⚠️ {{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
                <footer class="card-footer">
                    <a href="{% url 'objekt_detail' siedlung.pk objekt.pk %}" class="card-footer-item has-background-danger has-text-white">Abbrechen</a>
                    <button type="reset" class="card-footer-item has-background-grey has-text-white">Zurücksetzen</button>
                    <button type="submit" class="card-footer-item has-background-primary has-text-primary-dark">Speichern</button>
                </footer>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
