{% extends 'base.html' %}

{% block content %}
    <h2>🪴 Objekt {{ objekt.internal_oid }} </h2>
    <h3>{{ objekt.bezeichnung }}</h3>
        <p>Siedlung: {{ siedlung.internal_id }} {{ siedlung.bezeichnung }}</p>
        <p>Interne OID: {{ objekt.internal_oid }}</p>
        <p>Bezeichnung: {{ objekt.bezeichnung }}</p>
        <p>Bereich: {{ objekt.bereich }}</p>
        <p>Punkte: {{ objekt.punkte }}</p>
        <p>Aktuelle Miete: {{ objekt.aktuelle_miete }}</p>
        <a class="btn btn-secondary btn-sm" href="{% url 'siedlung_detail' siedlung.pk %}">Zu Siedlung {{ siedlung.internal_id }}</a>
        <a class="btn btn-danger btn-sm" href="{%  url 'objekt_delete' siedlung.pk objekt.pk %}">Löschen</a>
        <a class="btn btn-success btn-sm" href="{% url 'objekt_update' siedlung.pk objekt.pk %}">Update</a>
{% endblock content %}