{% extends 'base.html' %}

{% block content %}
    <h2>🏠 Siedlung {{ siedlung.internal_id }} </h2>
        <p>Interne ID: {{ siedlung.internal_id }}</p>
        <p>Bezeichnung: {{ siedlung.bezeichnung }}</p>
        <p>Anlagewert: {{ siedlung.anlagewert }}</p>
        <p>GVZ-Wert: {{ siedlung.versicherungswert }}</p>
        <p>Baurechtszins: {{ siedlung.baurechtszins }}</p>
        <p>Betriebsquote Zuschlag: {{ siedlung.betriebsquote_zuschlag }}</p>

        <a class="btn btn-secondary btn-sm" href="{% url 'siedlung_home' %}">Zurück</a>
        <a class="btn btn-danger btn-sm" href="{% url 'siedlung_delete' siedlung.pk %}">Löschen</a>
        <a class="btn btn-success btn-sm" href="{% url 'siedlung_update' siedlung.pk %}">Update</a>
        <hr>
        <a class="btn btn-success btn-sm" href="{% url 'objekt_create' siedlung.pk %}">+ Neues Objekt hinzufügen</a>
        <p>


        {%  if objekte %}
        <table border="1" cellpadding="5" cellspacing="0" width="50%" align="center">
            <caption>Objekte in dieser Siedlung</caption>
            <thead>
                <tr>
                    <th>Interne OID</th>
                    <th>Bezeichnung</th>
                    <th>Siedlung</th>
                </tr>
            </thead>
            <tbody>
            {% for objekt in objekte %}
                <tr>
                    <td><a href="{% url 'objekt_detail' siedlung.pk objekt.pk %}">{{ objekt.internal_oid }}</a></td>
                    <td><a href="{% url 'objekt_detail' siedlung.pk objekt.pk %}">{{ objekt.bezeichnung }}</a></td>
                    <td>{{ objekt.siedlung.internal_id }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Keine Objekte in dieser Siedlung.</p>
        {% endif %}
{% endblock content %}