{% load static %}

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bulma/bulma.css' %}">
    <title>Kostenmiete</title>
  </head>
  <body>
    <nav class="navbar has-text-black" role="navigation" aria-label="main navigation">
    <div class="hero-head">
        <div class="navbar-brand">
            <div class="navbar-item">
                    <nav>
                        <a href="{% url 'siedlung_home' %}">🐌 Snowls Inc 🦉</a>
                    </nav>
            </div>
        </div>
    </div>
    </nav>
    <hr>
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-1 is-spaced">
                    🚀 Kostenmiete Gewo Züri Ost
                </h1>
            </div>
        </div>
    </section>
    <section>
        {% block content %}
        {% endblock content %}
    </section>
  </body>
</html>